EXPERIMENT="example_exp"
PATH_WORDS_AND_STYLES_JSONS="/home/user/words_and_styles_jsons_mini"
PATH_GRAPHS_JSONS="/home/user/graphs_jsons_mini"

START=0
FINAL=1000
SAVE_FREQUENCY=10
PUBLAYNET_IMBALANCE=[1.378, 0.033, 2.327, 0.845, 0.417]
EDGE_IMBALANCE=0.15
EDGE_COEF=4
NODE_COEF=0
PATH_STYLE_MODEL="/home/user/project/PageR/models/style_classmodel_20250121"
PATH_PUBLAYNET="/home/user/publaynet"
PATH_PDF="/home/user/pdfs"
PATH_TEST_DATASET = "/home/user/publaynet_test"
PATH_TEST_IMAGES = "/home/user/publaynet_test/val_compr"
PATH_TEST_JSON = "/home/user/publaynet_test/val_compr.json"
PATH_TEST_PDF = "/home/user/publaynet_test/dev_compr"

GLAM_NODE_MODEL="glam_node_model"
GLAM_EDGE_MODEL="glam_edge_model"
GLAM_MODEL = "glam_model"